# Local env config
.env.*

# Node
node_modules

# Logs
*.log

# IDE
.idea

# Build output
build
**/build
tmp
out-tsc
dist
**/dist
**/target
**/.dist
!packages/vite-plugin-swc/dist

# Husky
.husky/_

# Testing
**/coverage

# Typescript
**/*.tsbuildinfo

# Nuxt
**/.nuxt

# Generated CI configuration
**/generated-ci-config.yml

# TLS certificates
**/*.pem

# Docker volumes
**/docker/volumes
docker/volumes

# PNPM
**/.pnpm-store

# Health file
health.json

# NextJS
**/.next/**
!**/.next/.gitkeep

.nx/cache
.idea

.eslintcache

git-crypt-repo.key
